.card__container
{
    position: absolute;
    height: 100%;
    perspective: 1000px;
    transform: rotate(0deg);
    transform-origin: center bottom;
    transition: top 1s, left 1s, height 1s, opacity 1s, transform 1s;
}

.card__cover
{
    position: relative;
    display: flex;
    width: auto;
    height: 100%;
    top: 0px;
    transition: transform 0.2s;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.card__back
{
    position: absolute;
    transform: rotatey(0deg);
}

.card__front
{
    transform: rotatey(-180deg);
}

.card__container--turned .card__back
{
    transform: rotatey(180deg);
}

.card__container--turned .card__front
{
    transform: rotatey(0deg);
}
