.CARD__CONTAINER
{
    POSITION: ABSOLUTE;
    HEIGHT: 100%;
    PERSPECTIVE: 1000PX;
    TRANSFORM: ROTATE(0DEG);
    TRANSFORM-ORIGIN: CENTER BOTTOM;
    TRANSITION: TOP 1S, LEFT 1S, HEIGHT 1S, OPACITY 1S, TRANSFORM 1S;
}

.CARD__COVER
{
    POSITION: RELATIVE;
    DISPLAY: FLEX;
    WIDTH: AUTO;
    HEIGHT: 100%;
    TOP: 0PX;
    TRANSITION: TRANSFORM 0.2S;
    BACKFACE-VISIBILITY: HIDDEN;
    BORDER-RADIUS: 15PX;
    BOX-SHADOW: 0PX 0PX 1PX 1PX RGBA(0, 0, 0, 0.1);
}

.CARD__BACK
{
    POSITION: ABSOLUTE;
    TRANSFORM: ROTATEY(0DEG);
}

.CARD__FRONT
{
    TRANSFORM: ROTATEY(-180DEG);
}

.CARD__CONTAINER--TURNED .CARD__BACK
{
    TRANSFORM: ROTATEY(180DEG);
}

.CARD__CONTAINER--TURNED .CARD__FRONT
{
    TRANSFORM: ROTATEY(0DEG);
}
