:ROOT
{
    --BACKGROUND: #207934;
    --BACKGROUNDSHADOW: #1C6A2E;
    --TEXTCOLOR: #DDEAE0;
    --TRANSITIONHIDING: OPACITY 0.2S;
}

.MEMORY__CONTAINER
{
    ALIGN-ITEMS: CENTER;
    JUSTIFY-CONTENT: CENTER;
    MIN-HEIGHT: 390PX;
    WIDTH: 100%;
    HEIGHT: 100%;
    BACKGROUND: RADIAL-GRADIENT(VAR(--BACKGROUND), VAR(--BACKGROUNDSHADOW));
    COLOR: VAR(--TEXTCOLOR);
    FONT-SIZE: 17PX;
    FONT-FAMILY: "-APPLE-SYSTEM", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
}

.MEMORY__CONTAINER--PAUSE .MEMORY__GAME
{
    DISPLAY: NONE;
}

.MEMORY__STATUSBAR
{
    FLEX-DIRECTION: ROW;
    MARGIN: 5PX;
    FONT-SIZE: 20PX;
}

.MEMORY__STATUSBAR DIV
{
    ALIGN-ITEMS: CENTER;
}

.MEMORY__STATUSBAR DIV
{
    DISPLAY: FLEX;
    OPACITY: 0;
    TRANSITION: VAR(--TRANSITIONHIDING);
}

.MEMORY__FIELD
{
    BORDER: NONE;
    BORDER-SPACING: 5PX;
}

.MEMORY__FIELD TD
{
    POSITION: RELATIVE;
}

.MEMORY__CONTAINER--GAME .MEMORY__MENU
{
    DISPLAY: NONE;
}

.MEMORY__MENU
{
    ALIGN-ITEMS: CENTER;
}

.MEMORY__CARDSCONTAINER
{
    POSITION: ABSOLUTE;
}

.MEMORY__DESKCONTAINER
{
    OPACITY: 0;
    TRANSITION: VAR(--TRANSITIONHIDING);
}

.MEMORY__HEADLINE
{
    MARGIN: 20PX 0PX;
    OPACITY: 0;
    FONT-SIZE: 30PX;
    TRANSITION: VAR(--TRANSITIONHIDING);
}

.MEMORY__BUTTON
{
    TEXT-ALIGN: CENTER;
    PADDING: 10PX 20PX;
    MARGIN: 5PX;
    COLOR: VAR(--BACKGROUND);
    FONT-SIZE: 17;
    OPACITY: 0;
    BORDER: NONE;
    BORDER-RADIUS: 10PX;
    BACKGROUND: VAR(--TEXTCOLOR);
    TRANSITION: VAR(--TRANSITIONHIDING), COLOR 0.2S;
}

.MEMORY__BUTTON:FOCUS
{
    OUTLINE: NONE;
    BACKGROUND: TRANSPARENT;
    COLOR: VAR(--TEXTCOLOR);
}

.MEMORY__BUTTON:DISABLED
{
    FILTER: OPACITY(70%);
}
